.adminSection {
    padding-bottom: 40px;
}

.adminSection h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.refreshBtn {
    margin-top: 40px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    transition: 0.3s ease-in-out;
}

.refreshBtn:hover {
    filter: drop-shadow(0px 0px 8px #fff);
}

.table {
    width: 100%;
    margin-top: 40px;
    border: 1px solid #c0c0c0;
}

.table tr,
.table td,
.table th {
    padding: 10px;
    border: 1px solid #c0c0c0;
}

.table th {
    background-color: #fff;
    color: #000;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.table td {
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 900px) {
    .table td {
        font-size: 12px;
    }
    .table tr,
    .table td,
    .table th {
        padding: 5px;
    }
}

@media (max-width: 700px) {
    .table th {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0;
    }
}

@media (max-width: 580px) {
    .table tr,
    .table td,
    .table th {
        padding: 2px;
    }
    .table th {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0;
    }
    .table td {
        font-size: 10px;
        line-height: 12px;
    }
}
