.servicesSection {
    padding-bottom: 40px;
}

.servicesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.serviceCard {
    height: 400px;
    background-size: cover;
    background-position: center center;
}

.serviceCardDescription {
    height: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    box-sizing: border-box;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.1) 30%,
        rgba(0, 0, 0, 0.95) 100%
    );
}

.serviceCardDescription h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.serviceCardDescription h4 {
    font-size: 16px;
    line-height: 18px;
    color: #c0c0c0;
}

.serviceCardDescFlex {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicePrice {
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 1px;
}

.servicePrice span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
}

.linkToForm a {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.linkToForm a:hover {
    background: #fff;
    color: #000;
    filter: drop-shadow(0px 0px 8px #fff);
}

@media (max-width: 980px) {
    .servicesContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 760px) {
    .servicesContainer {
        grid-template-columns: 1fr;
    }
    .serviceCard {
        height: 600px;
        background-position: center 35%;
    }
}

@media (max-width: 600px) {
    .serviceCard {
        height: 550px;
        background-position: center 40%;
    }
    .serviceCardDescFlex {
        margin-top: 15px;
    }
}

@media (max-width: 550px) {
    .serviceCard {
        height: 500px;
        background-position: center 45%;
    }
}

@media (max-width: 500px) {
    .serviceCard {
        height: 450px;
    }
}

@media (max-width: 450px) {
    .serviceCard {
        height: 400px;
    }
}

@media (max-width: 426px) {
    .serviceCard {
        background-position: center 50%;
    }
    .serviceCardDescription {
        gap: 5px;
    }
}

@media (max-width: 400px) {
    .serviceCard {
        background-position: center 65%;
    }
}

@media (max-width: 380px) {
    .serviceCard {
        background-position: center 75%;
    }
}

@media (max-width: 350px) {
    .serviceCard {
        background-position: center 100%;
    }
    .servicePrice {
        font-size: 16px;
        line-height: 18px;
    }
    .servicePrice span {
        font-size: 12px;
    }
}
